<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yytech.mpcdsepc.mapper.AccessNumMapper">
    <!--  映射表  -->
    <resultMap id="AccountEntity" type="Account">
        <!--  column 数据库中字段名 property 实体类中属性  -->
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="role" property="role"/>
        <result column="gentle" property="gentle"/>
        <result column="passWord" property="passWord"/>
        <result column="name" property="name"/>
        <result column="createDate" property="createDate"/>
        <result column="teleNum" property="teleNum"/>
    </resultMap>
    <delete id="deleteByPhone" parameterType="string">
        delete from mpcdsepc.access_num where phone = #{phone}
    </delete>


</mapper>