<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yytech.mpcdsepc.mapper.AccountMapper">
    <!--  映射表  -->
    <resultMap id="AccountEntity" type="Account">
        <!--  column 数据库中字段名 property 实体类中属性  -->
        <id column="id" property="id"/>
        <result column="userName" property="userName"/>
        <result column="role" property="role"/>
        <result column="gentle" property="gentle"/>
        <result column="passWord" property="passWord"/>
        <result column="name" property="name"/>
        <result column="createDate" property="createDate"/>
        <result column="teleNum" property="teleNum"/>
    </resultMap>

    <!--  获取所有用户  -->
    <select id="getAllAccount" resultType="Account">
        select * from mpcdsepc.accounts
    </select>
    <select id="getAccountByRole" resultType="Account">
        select * from mpcdsepc.accounts where role = #{role}
    </select>
    <select id="getAccountBySex" resultType="Account">
        select * from mpcdsepc.accounts where isGentle = #{isGentle}
    </select>
    <select id="getAccountByIsOnline" resultType="Account">
        select * from mpcdsepc.accounts where isOnline = #{isOnline}
    </select>

    <!--  根据 id 获取用户  -->
    <select id="getAccountById" resultType="Account">
        select * from mpcdsepc.accounts
        where id = #{id}
    </select>
    <!--  根据 UserName 获取用户  -->
    <select id="getAccountByUserName" resultType="Account">
        select * from mpcdsepc.accounts
        where binary userName = #{userName}
    </select>
    <!--  根据 name 获取用户  -->
    <select id="getAccountByName" resultType="Account">
        select * from mpcdsepc.accounts
        where binary name = #{name}
    </select>
    <!--  根据 TeleNum 获取用户  -->
    <select id="getAccountByTeleNum" resultType="Account">
        select * from mpcdsepc.accounts
        where binary teleNum = #{teleNum}
    </select>
    <!--  用户登录  -->
    <select id="accountLogin" resultType="Account">
        select * from mpcdsepc.accounts
        where binary userName = #{userName} and passWord = #{passWord}
    </select>
    <!--  用户信息修改  -->
    <update id="updateAccount" parameterType="Account">
        update mpcdsepc.accounts
        set passWord = #{passWord}, role = #{role}, gentle = #{gentle}, teleNum = #{teleNum}
        where id = #{id}
    </update>
    <!--  删除用户  -->
    <delete id="deleteAccount" parameterType="int">
        delete from mpcdsepc.accounts where id = #{id}
    </delete>
</mapper>