<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eden.mapper.UserMapper">
    <!--  映射表  -->
    <resultMap id="UsrEntity" type="User">
        <!--  column 数据库中字段名 property 实体类中属性  -->
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="pwd" property="pwd"/>
        <result column="email" property="email"/>
        <result column="awlEml" property="awlEml"/>
        <result column="profile" property="profile"/>
        <result column="state" property="state"/>
        <result column="pmtGrp" property="pmtGrp"/>
        <result column="regDate" property="regDate"/>
        <result column="logDate" property="logDate"/>
        <result column="ipLocate" property="ipLocate"/>
    </resultMap>
    <!--  根据获取所有用户  -->
    <select id="queryAllUser" resultType="User">
        select * from eden_server.ed_user_list
    </select>
    <!--  根据id获取用户  -->
    <select id="queryUsrById" resultType="User">
        select * from eden_server.ed_user_list
        where id = #{id}
    </select>
    <!--  根据name获取用户  -->
    <select id="queryUsrByName" resultType="User">
        select * from eden_server.ed_user_list
        where binary name = #{name}
    </select>
    <!--  根据email获取用户  -->
    <select id="queryUsrByEmail" resultType="User">
        select * from eden_server.ed_user_list
        where binary email = #{email}
    </select>
    <!--  用户登录  -->
    <select id="userLogin" resultType="User">
        select * from eden_server.ed_user_list
        where ( binary name = #{account} or binary email = #{account} ) and pwd = #{pwd}
    </select>
    <!--  用户注册  -->
    <insert id="registerUsr" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        insert into eden_server.ed_user_list (name,pwd,email,alwEml,profile,state,pmtGrp,regDate,logDate,ipLocate,fieldList)
        values (#{name},#{pwd},#{email},#{alwEml},#{profile},#{state},#{pmtGrp},#{regDate},#{logDate},#{ipLocate},#{fieldList});
    </insert>
    <!--  用户最近登录和ip修改  -->
    <update id="resetUsr" parameterType="User">
        update eden_server.ed_user_list
        set logDate = #{logDate}, ipLocate = #{ipLocate}
        where id = #{id}
    </update>
    <!--  修改用户数据  -->
    <update id="alterUsr" parameterType="User">
        update eden_server.ed_user_list
        set pwd=#{pwd},email=#{email},alwEml=#{alwEml},profile=#{profile},state=#{state},pmtGrp=#{pmtGrp}
        where id = #{id}
    </update>
    <!--  前端用户数据修改  -->
    <update id="updateProfile" parameterType="User">
        update eden_server.ed_user_list
        set awlEml = #{awlEml}, profile = #{profile}
        where id = #{id}
    </update>
    <!--  用户修改密码  -->
    <update id="passwordUser" parameterType="User">
        update eden_server.ed_user_list
        set pwd = #{pwd}
        where id = #{id}
    </update>
    <!--  删除用户  -->
    <delete id="deleteUsr" parameterType="int">
        delete from eden_server.ed_user_list where id = #{id}
    </delete>
    <!--  更新字段  -->
    <update id="updateFieldListUsr" parameterType="User">
        update eden_server.ed_user_list
        set fieldList = #{fieldList}
        where id = #{id}
    </update>
    <!--  更新推送  -->
    <update id="updateAllowEmail" parameterType="User">
        update eden_server.ed_user_list
        set alwEml = #{alwEml}
        where id = #{id}
    </update>
    <!--  更新头像  -->
    <update id="updateUserProfile" parameterType="User">
        update eden_server.ed_user_list
        set profile = #{profile}
        where name = #{name}
    </update>
    <!--  更新IP  -->
    <update id="updateIPLocate" parameterType="User">
        update eden_server.ed_user_list
        set ipLocate = #{ipLocate}
        where id = #{id}
    </update>
</mapper>